*{
  padding: 0;
  margin: 0;
}
select{
  cursor: pointer;
}
body{
  font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
  background-color: #eef2f5;
    
}
nav{
  background-color: #fff;
  width: 100%;
}

.navbar{
  margin: 0 auto;
  width: 1560px;
    
}
.navbar ul li img{
  width: 128px;
}
nav ul li{
  display: inline;
  list-style: none;
  padding: 20px 30px;
}
nav ul{
  padding-top: 20px ;
  padding-bottom: 35px;
}
nav ul li a{
  text-decoration: none;
  font-size: 16px;
  color: black;
}
nav ul li select{
  border: none;
  font-size: 16px;
}
.reg{
  background-color: #1DD1A1;
  color: white;
  padding: 10px;
  border-radius: 5px;
}
.container{
    width: 1440px;
    margin: 0 auto;
}
.agar{
    margin-top: 150px;
}

.input{
    margin-top: 50px;
    
  
}
.agar1 h1{
    font-size: 48px;
}
.input1{
    padding-left: 20px;
    width: 500px;
    height: 100px;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
    
}
.input1 p{
    color: #1DD1A1;
    font-size: 14px;
    padding-top: 20px;
    margin-left: 8px;
}
.input1 input{
  margin-top: 10px;
  padding: 8px 0 8px 8px;
  border: none;
  padding-bottom:  5px;
  font-size: 18px;
}
.input2{
    padding-left: 20px;
    width: 500px;
    height: 100px;
    background-color: #fff;
    margin-top: 3px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
    
    
}
.input2 p{
    color: #1DD1A1;
    font-size: 14px;
    padding-top: 20px;
    margin-left: 8px;
}
.input2 input{
  margin-top: 10px;
    padding: 8px 0 8px 8px;
    border: none;
    padding-bottom:  5px;
    font-size: 18px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25.5px;
    margin-left: 25px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 19.5px;
    width: 19.5px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #1DD1A1;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(19.5px);
    -ms-transform: translateX(19.5px);
    transform: translateX(19.5px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 25.5px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }



  .kirish{
    margin-top: 35px;
    width: 360px;
    float: left;
  }
  .kirish a{
    background-color: #1DD1A1;
    color: white;
    font-size: 18px;
    padding: 20px 40px;
    text-decoration: none;
    border-radius: 8px;
  }
  .kirish p{
    font-size: 20px;
    float: right;
    margin-top: -25px;
    margin-left: 210px;
    position: absolute;
  }
.kirish1{
  width: 50%;
  float: right;
  margin-top: -400px;
}
.kirish1 img{
  width: 600px;
}
.dasturp h1{
  font-size: 56px;
  
}
.javaimg{
  float: left;
  
  margin: 100px 0 0 80px;
}
.javaimg img{
  width: 450px;
}
.javatext{
  float: right;
  margin-top: 200px;
  
}
.javatext h1{
  font-size: 36px;
}
.javatext p{
  margin-top: 30px;
  font-size: 28px;
}
.clr{
  clear: both;
}
.javaimg2{
  float: right;
  
  margin: 100px 0 0 80px;
}
.javaimg2 img{
  width: 600px;
}
.javatext2{
  float: left;
  
  margin: 200px 0 0 80px;
  
}
.javatext2 h1{
  font-size: 36px;
}
.javatext2 p{
  margin-top: 30px;
  font-size: 28px;
}
.javaimg3{
  float: left;
  
  
}
.javaimg3 img{
  width: 600px;
}
.javatext3{
  float: right;
  margin-top: 180px;
  
}
.javatext3 h1{
  font-size: 36px;
}
.javatext3 p{
  margin-top: 30px;
  font-size: 28px;
}
.javaimg4{
  float: right;
  
  
}
.javaimg4 img{
  width: 600px;
}
.javatext4{
  float: left;
  margin: 200px 0 0 80px;
  
}
.javatext4 h1{
  font-size: 36px;
}
.javatext4 p{
  margin-top: 30px;
  font-size: 28px;
}

.oz{
  margin-top: 200px;
}
.oz h1{
  font-size: 56px;
  
}
.sec3{
  margin-top: 80px;
}
.section1-1{
  background-color: #fff;
  width: 450px;
  height: 450px;
  float: left;
  display: inline-block;
  border-radius: 10px;
}
.section1-2{
  background-color: #fff;
  width: 450px;
  height: 450px;
  border-radius: 10px;
  display: inline-block;
  margin-left: 45px;
}
.section1-3{
  background-color: #fff;
  width: 450px;
  height: 450px;
  float: right;
  display: inline-block;
  border-radius: 10px;
}
.java h1{
  font-size: 44px;
  padding: 40px 0 10px 50px;
}
span{
  color: grey;
}
.java h3, span{
  display: inline;
  font-size: 20px;

  
}
.java{
  border-bottom: 1px solid #ddd;
  padding-bottom: 30px;
}
.soz p{
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 30px;
  padding-top: 5px;
  font-size: 20px;
}
.soz a{
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #1DD1A1;
  border-radius: 5px;
  margin: 20px 0px 0px 50px;
}
.tizim{
  margin-top: 200px;
  display: inline-block;
  float: left;
}
.tizim h1{
  font-size: 48px;

}
.tizim p{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 40%;
}
.tizim a{
  color: white;
  background-color: #1DD1A1;
  border-radius: 5px;
  padding: 10px 40px;
  text-decoration: none;
  
}
.tizimimg{
  float: right;
  margin-top: -400px;
  width: 600px;
}
.reja{
  margin-top: 120px;
}
.reja h1{
  font-size: 48px;
}
.sectionu-n{
  margin-top: 80px;
}
.sect-1-3{
  width: 450px;
  text-align: center;
  background-color: #fff;
  display: inline-block;
  border-radius: 5px;
  height: 700px;
}
.sect-1-3 h1{
  font-size: 54px;
  text-align: center;
  margin-top: 60px;
  padding-bottom: 40px;

}
.sect-1-3 h2{
  font-size: 60px;
  text-align: center;
}
.sect-1-3 h3{
  font-size: 28px;
  text-align: center;
  margin-top: 10px;
}
.sect-1-3 p{
  font-size: 24px;
  text-align: center;
  margin-top: 60px;
}
.sect-1-3 a{
  text-decoration: none;
  border: 3px solid #1DD1A1;
  color: #1DD1A1;
  padding: 15px 50px;
  font-size: 30px;
  text-align: center;
  border-radius: 5px;
  
}
.sect-1-3:hover{
  box-shadow: 16px 16px 32px rgba(118, 118, 118, 0.42); 
}
.sect-1-3 a:hover{
  background-color: #1DD1A1;
  color: white;
}
.oxirgisi h1{
  font-size: 48px;
}
.oxiri1{
  width: 1200px;
  background-color: #fff;
  height: 350px;
  margin: 0 auto;
  border-radius: 5px;
  
}
.oxiri2{
  width: 900px;
  height: 420px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: -35px;
  position: absolute;
  margin-left: 150px;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(118, 118, 118, 0.42);
}

.oxirii{
  margin-top: 200px;
}
.clr{
  clear: both;
}
.oxiri2 img{
  width: 150px;
  margin-left: 375px;
  margin-top: -165px;
  background-color: #eef2f5;
  border-radius: 50%;
  position: absolute;
}
.oxiri3{
  width: 180px;
  height: 180px;
  background-color: #eef2f5;
  border-radius: 50%;
  margin-top: -90px;
  margin-left: 360px;
  
}
.oxiri2 h2{
  text-align: center;
  font-size: 26px;
}
.oxiri2 p{
  font-size: 20px;
  padding: 30px 60px 0 60px;
}
.d1{
  border: 2px solid #1DD1A1;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: inline-block;
}
.d2{
  border: 2px solid #1DD1A1;
  border-radius: 50%;
  background-color: #1DD1A1;
  width: 10px;
  height: 10px;
  display: inline-block;
}

.d3{
  border: 2px solid #1DD1A1;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: inline-block;
}
.d3d{
  width: 80px;
  height: 15px;
  margin: 0 auto;
}
footer{
  background-color: #093845;
  margin-top: 100px;
  width: 100%;
  height: auto;
}
footer ul{
  width: 1440px;
  margin: 0 auto;
}
footer ul li{
  display: inline-block;
  list-style: none;
  
}
footer ul li a{
  color: white;
  text-decoration: none;
  font-size: 18px;
  
}
footer ul li img{
  margin-top: 40px;
  width: 290px;
  padding-right: 50px;
}
footer ul li a img{
  width: 35px;
  padding: 0;
  filter: brightness(0.7);
}
footer p{
  color: rgba(255, 255, 255, 0.658);
  font-size: 12px;
  margin-left: 230px;
  padding-top: 10px;
  padding-bottom: 20px;
}
.t{
  padding-right: 10px;
  border-right: 2px solid black;
}
